<!DOCTYPE html>
<html lang="en">
 

<!-- ======= Header ======= -->
<%- include('./Parts/head') %> 
<!-- End Header -->



<body>



<!-- ======= Header ======= -->
<%- include('./Parts/header') %> 
<!-- End Header -->

    <!-- Hero -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="hero-section">
      <h2 class="main-title viper-border"><%= config.name %></h2>
      <p class="description">
        <%= config.about.about %>
      </p>
    </div>

  <!-- Footer -->
  <%- include('./Parts/footer') %> 
  <!-- End Footer -->


    <!-- Jq -->
    <script src="./assets/js/jquery-3.6.0.slim.min.js"></script>
    <!-- Bootstrap -->
    <script src="./assets/js/bootstrap.bundle.min.js"></script>
    <!-- Maps -->
    <script src="./assets/js/jquery.mousewheel.min.js"></script>
    <script src="./assets/js/raphael.min.js"></script>
    <script src="./assets/js/jquery.mapael.min.js"></script>
    <script src="./assets/js/world_countries.min.js"></script>
    <script src="./assets/js/map-config.js"></script>
    <!-- Custom -->
    <script src="./assets/js/custom.js"></script>
  </body>
</html>