<% if (config.status.enabled==true) { %>
<!DOCTYPE html>
<html lang="en">
 

<!-- ======= Header ======= -->
<%- include('./Parts/head') %> 
<!-- End Header -->



<body>



<!-- ======= Header ======= -->
<%- include('./Parts/header') %> 
<!-- End Header -->

    <!-- Hero -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="hero-section">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/davidjbradshaw/iframe-resizer@master/js/iframeResizer.min.js"></script>
    <iframe class="htframe" src="<%= config.status.link %>" width="100%" scrolling="no" style="border:none;" sandbox="allow-scripts allow-same-origin allow-popups" onload="iFrameResize([{log:false}],'.htframe')"></iframe>
    
  <!-- Location -->
  <%- include('./Parts/location') %> 
  <!-- End Location -->

  <!-- Footer -->
  <%- include('./Parts/footer') %> 
  <!-- End Footer -->


    <!-- Jq -->
    <script src="./assets/js/jquery-3.6.0.slim.min.js"></script>
    <!-- Bootstrap -->
    <script src="./assets/js/bootstrap.bundle.min.js"></script>
    <!-- Maps -->
    <script src="./assets/js/jquery.mousewheel.min.js"></script>
    <script src="./assets/js/raphael.min.js"></script>
    <script src="./assets/js/jquery.mapael.min.js"></script>
    <script src="./assets/js/world_countries.min.js"></script>
    <script src="./assets/js/map-config.js"></script>
    <!-- Custom -->
    <script src="./assets/js/custom.js"></script>
  </body>
</html>
<% } %>